:root {
}



.button:hover {
    scale: 1.1 1.1;
    -unity-font-style: bold;
}

.slider {
    margin-top: 37px;
    margin-right: 37px;
    margin-bottom: 37px;
    margin-left: 37px;
    max-width: 580px;
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(0, 0, 0);
}
